@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
    background-color: #f5f5f5;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

header img, header nav {
   float: left;
}

nav ul li {
    display: inline-block;
    padding: 50px;
}

.social {
padding: 40px;
float: right;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hover {
    transition: 0.3;
    opacity: 1;
}

.hover:hover {
    transition: 0.3;
    opacity: 0.5;
}

.banner img{
    width: 100%;
    margin: 20px auto;
}

.texto{
    width: 49%;
    display: inline-block;
    text-align: justify;
}

.sobre h2{
    font-weight: 900;
    text-align: center;
}

.sobre img{
    width: 50%;
    display: inline-block;
    margin-left: 6px;
    padding-bottom: 200px;
}

.servicos{
 background-color: #91897F;
 padding: 70px 0;
 margin: 50px 0;
}

.servico{
    display: inline-block;
    width: 31%;
    margin: 1%;
}

.titulo, .servicos h2{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
}

.servico img{
    border: 2px solid #ffff;
    width: 346px;
}

.servicos h2{
    font-size: 40px;
    margin-bottom: 20px;
}


.img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.depoimentos h2{
    font-size: 50px;
    text-align: center;
}

.item{
    display: inline-block;
    width: 250px;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer{
    background-color: #393F44;
    color: #fff;
    padding: 50px;
}
.item h2{
    font-size: 30px;
}

.social ul li a{
    color: black;
}

footer h2{
    color: white;
}

footer input, footer textarea{
    width: 250px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #CFCFCF;
    font-size: 13px;
    color: #CFCFCF;
}

footer input[type="submit"]{
    border: 2px solid #CFCFCF;
    margin-top: 20px;
    border-radius: 10px;
}

footer input[type="submit"]:hover{
    background-color: rgba(128, 128, 128, 0.103);
    box-shadow: 2px 2px 2px #0000002a;
}

footer ul li a{
    color: #CFCFCF;
    text-decoration: none;
}

footer ul li a:hover{
    color: white;
}

footer ul li{
    text-align: right;
    padding: 15px;
    font-size: 13px;
}

footer .item{
    height: 290px;
}

.item {
    display: inline-block;
    width: 251px;
    padding: 1%;
    text-align: center;
    font-weight: 900;
}

footer{
    background-color: #393F44;
    color: #fff;
    padding: 50px;
}
.item h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

footer input, footer textarea {
    width: 250px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    color: #fff;
}
footer input[type="submit"] {
    border: 2px solid #fff;
    margin-top: 20px;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
}
footer ul li{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.social ul li a{
    color: #fff;
}
.social ul li{
    background-color: #000;
    padding: 5px 10px;
    margin: 5px;
}
header {
    height: 145px;
}
.item p {
    margin-bottom: 20px;
    line-height: 30px;
}

.sobre{
    line-height: 30px;
    font-size: 20px;
}

.sidebar {
  width: 165px;
  font-weight: bold;
  line-height: 40px;
  font-size: 40px;
  border-left: 5px solid #0a0a0a;
  padding: 0 38px;
  float: left;
  clear: both;
}

.info {
    width: 950px;
    display: inline-block;
    text-indent: 50px;
    text-align: justify;
}

.page img{
    padding: 0px;
    padding-left: 200px;
}

.page .sobre .h2{
font-size: 200px;
}

.fotofudida{
    padding: 40px;
}

.serviços p{
    padding-left: 40px;
}

.contents{
    display: inline-block;
}

.servicoss{
    padding: 70px 0;
   }
   
   .servico{
       display: inline-block;
       width: 31%;
       margin: 1%;
   }
   
   .titulo, .servicoss h2{
       color: black;
       font-size: 20px;
       text-transform: uppercase;
       font-weight: 200;
       text-align: center;
   }
   
   .servico img{
       border: 2px solid #ffff;
       width: 346px;
   }
   
   .servicoss h2{
       font-size: 40px;
       margin-bottom: 20px;
       background-color: aqua;
   }