@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
    background-color: #f5f5f5;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

header img, header nav {
   float: left;
}

nav ul li {
    display: inline-block;
    padding: 50px;
}

.social {
padding: 40px;
float: right;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hover {
    transition: 0.3;
    opacity: 1;
}

.hover:hover {
    transition: 0.3;
    opacity: 0.5;
}

.banner img{
    width: 100%;
    margin: 20px auto;
}

.texto{
    width: 49%;
    display: inline-block;
    text-align: justify;
}

.sobre h2{
    font-weight: 900;
    text-align: center;
}

.sobre img{
    width: 50%;
    display: inline-block;
    margin-right: 3px;
}

.servicos{
 background-color: #91897F;
 padding: 70px 0;
 margin: 50px 0;
}

.servico{
    display: inline-block;
    width: 31%;
    margin: 1%;
}

.titulo, .servicos h2{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
}

.servico img{
    border: 2px solid #ffff;
    width: 346px;
}

.servicos h2{
    font-size: 40px;
    margin-bottom: 20px;
}